<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>/WebFilterTask/index.jsp</welcome-file>
    <welcome-file>/WebFilterTask/login.jsp</welcome-file>
    <welcome-file>/WebFilterTask/registration.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>inc.softserve.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/city.jsp</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/hotel.jsp</url-pattern>
  </filter-mapping>

</web-app>
